@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// variables
$font: "DM Sans", sans-serif;
$size: 18px;

//colors
$main-bg: #F6F6F6;
$purple-100: hsl(254, 88%, 90%);
$purple-500: hsl(256, 67%, 59%);
$yellow-100: hsl(31, 66%, 93%);
$yellow-500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $size;
}

body {
    background-color: $main-bg;
}
main {
    @media (min-width: 1024px) {
        margin: 50px 50px !important;
    }
    @media (min-width: 768px) and (max-width: 1021px) {
        margin: 50px 30px !important;
    }
    @media (min-width: 922px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        height: 100vh !important;
        .box-1 {
            grid-column: 1/2;
            grid-row: 1/4;
        }
        .box-2 {
            grid-column: 2/4;
            grid-row: 1/3;
        }
        .box-3 {
            grid-column: 4/5;
            grid-row: 1/6;
        }
        .box-4 {
            grid-column: 1/2;
            grid-row: 4/9;
        }
        .box-5 {
            grid-column: 2/3;
            grid-row: 3/6;
        }
        .box-6 {
            grid-column: 3/4;
            grid-row: 3/6;
        }
        .box-7 {
            grid-column: 2/3;
            grid-row: 6/9;
        }
        .box-8 {
            grid-column: 3/5;
            grid-row: 6/9;
        }
    }
    @media (min-width: 664px) and (max-width: 921px) {
        .box {
            width: calc(50% - 7.5px) !important;
        }
    }
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 50px 20px;
    .box {
        border-radius: 10px;
        padding: 15px 20px;
        overflow: hidden;
        width: 100%;
        h3 {
            font-size: 1rem;
            text-transform: capitalize;
            font-weight: 600;
            color: $black;
            a {
                text-decoration: none;
                color: $purple-500;
                display: block;
            }
        }
        .image {
            overflow: hidden;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        button {
            border: none;
            outline: none;
            background: none;
            display: block;
            margin-top: 20px;
            img {
                width: 100%;
            }
        }
        &.box-1 {
            background-color: $yellow-100;
            button {
                height: 60px;
                img {
                    height: 100%;
                }
            }
        }
        &.box-2 {
            background-color: $purple-500;
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                color: $white;
                text-align: center;
                margin-bottom: 10px;
                span {
                    color: $yellow-500;
                }
            }
            .image {
                max-width: 150px;
                margin: 0 auto;
            }
            p {
                font-size: .8rem;
                font-weight: 400;
                color: $white;
                text-align: center;
            }
        }
        &.box-3 {
            background-color: $purple-100;
            .image {
                margin: 20px 0;
            }
            p {
                font-size: .8rem;
                font-weight: 400;
                color: $black;
            }
        }
        &.box-4 {
            background-color: $yellow-500;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &.box-5 {
            background-color: $white;
        }
        &.box-6 {
            background-color: $yellow-500;
            h3 {
                margin-bottom: 10px;
            }
        }
        &.box-7 {
            background-color: $white;
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
            }
            p {
                font-size: .8rem;
                font-weight: 400;
                margin: 10px 0;
            }
        }
        &.box-8 {
            background-color: $purple-500;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 15px;
            .image, h3 {
                width: calc(50% - 7.5px);
            }
            .image {
                height: 100%;
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
            h3 {
                font-size: 1.4rem;
                color: $white;
                font-weight: 600;
            }
        }
    }

}

footer {
    .attribution {
        font-size: 11px; text-align: center;
        a {
          color: hsl(228, 45%, 44%);
        }
    }
}